html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: plum;
  font-family: "Oswald", sans-serif;
  background-size: cover;
  color: black;
}
h1 {
  color: black;
}
.desc, h2{
  width: 50%;
  margin: 0 auto;
  padding: 0.5%;
}
.img-container {
  width: 50%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  border: 0.5rem solid plum;
  border-radius: 0.5rem;
  position: relative;
  margin: 4rem auto;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.6);
}

.btn-left {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #3b117e;
  color: #fff;
  transform: translate(-50%, -50%);
  border: 0.2rem solid #3cbff8;
  font-size: 1.5rem;
  padding: 15px;
  cursor: pointer;
}

.btn-right {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #3b117e;
  color: #fff;
  transform: translate(50%, -50%);
  border: 0.2rem solid #3cbff8;
  font-size: 1.5rem;
  padding: 15px;
  cursor: pointer;
}

.ToHomepage {
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  border: 3px solid black;
  padding: 10px;
  font-size: 20px;
  background-color: plum;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 50px;
  display: block;
  width: 220px;
  text-align: center;
  font-weight: bold;
}

.ToHomepage:hover {
  border-color: plum;
  color: plum;
  background-color: black;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
  color: black;
}

h1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: blueviolet;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 25px;
  }

  .img-container {
    width: 50%;
    height: 40vh;
  }
  .desc, h2{
    width: 50%;
    margin: 0 auto;
    padding: 0.5%;
    color:dimgrey;
    text-align: left;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .img-container{
    width: 70%;
    height: 60vh;
  }
  .desc, h2{
    width: 70%;
    margin: 0 auto;
    padding: 0.5%;
    font-weight: bold;
  }
  .desc{
    padding-bottom: 1%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px){
  .img-container{
    width: 50%;
    height: 60vh;
  }
  .desc, h2{
    width: 50%;
    margin: 0 auto;
    padding: 0.5%;
    font-style: italic;
  }
}

@keyframes animate {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
    background-color: plum;
  }
  100% {
    width: 100px;
    background-color: purple;
  }
}
