a {
  color: #000;
  text-decoration: none;
}

.img-container {
  width: 100%;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  border: 2px solid plum;
  border-radius: 20px;
  position: relative;
  margin-bottom: 4rem;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.6);
}

.btn {
  border: 0.2rem solid #3cbff8;
  font-size: 2.5rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
  background-color: #3b117e;
  color: #fff;
  position: absolute;
  top: 50%;
  border-radius: 300px;
}

.btn:hover {
  background-color: plum;
  border-color: plum;
  transition: transform 0.25s ease-in-out;
}

.btn:hover i {
  transform: scale(1.75) rotate(5deg);
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.3, 3);
}

.btn-left {
  transform: translate(-50%, -50%);
  left: 0;
}

.btn-right {
  right: 0;
  transform: translate(50%, -50%);
}

.box.info {
  margin: -125px 50px 100px 50px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .btn {
    border-width: 0.18rem;
    font-size: 2.2rem;
    padding: 1.3rem 1.8rem;
  }

  .img-container {
    height: 70vh;
  }
}

@media screen and (max-width: 950px) {
  .btn {
    border-width: 0.15rem;
    font-size: 2rem;
    padding: 1rem 1.5rem;
  }

  .box.info {
    margin: -100px 25px 100px 25px;
    position: relative;
    padding: 5vmin;
  }
}

@media screen and (max-width: 850px) {
  .btn {
    border-width: 0.15rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}

@keyframes animate {
  0% {
    width: 100px;
    background-color: blueviolet;
  }
  50% {
    width: 200px;
    background-color: plum;
  }
  100% {
    width: 100px;
    background-color: blueviolet;
  }
}
